.footer{
	background: #333;
	color: #fff;
	padding: 15px 0px;
}

.main_member{
	min-height: 500px;
}

.btn-custom {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	font-size: 16px;
}

.txt-register {
	display: flex;
	justify-content: center;
}